.slideIn {
  animation: slideIn 0.5s ease-out; /* Adjust duration and timing function as needed */
}

@keyframes slideIn {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.tabsScroll {
  @apply mr-6 flex cursor-pointer font-sans text-sm uppercase tracking-widest text-black dark:text-white md:text-2xl;
}
